# intelllij #
/.idea/
/out/
*iml
*.xml

# Ignore Gradle GUI config
gradle-app.setting

# graadle #
/.gradle/
/build/

# Avoid ignoring Gradle wrapper jar file (.jar files are usually ignored)
!gradle-wrapper.jar

# Cache of project
.gradletasknamecache

# # Work around https://youtrack.jetbrains.com/issue/IDEA-116898
# gradle/wrapper/gradle-wrapper.properties

# logger #
/log/
*.log

# Sensative Data is kept here #
/src/main/resources
